<!DOCTYPE html>
<html lang="en">

{{> baseHead customTitle='createNewPost|'}}

<body>
                {{> siteHeader}}

                    <div class="main">

                        <div class="">
                                 <h2>สร้างโพสต์สำเร็จ</h2>
                        <p>โพสต์จะปรากฏที่หน้าแรก คุณสามารถกลับไปเปิดดู และคอมเม้นท์พูดคุยกับเพือนๆได้</p>

                             <a class="btn" href="/">กลับหน้าแรก</a>
                        </div>
                       
                        
                    </div>
              {{> siteFooter}}
</body>
</html>